@use '././base/variables' as v;

.footer__cnt {
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid v.$border;
    padding: 3rem 1.5rem;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    figure {
        line-height: 0;
    }

    
}

.footer__wdgt {
    p {
        font-size: 1.4rem;
        margin: 0;
    }

    &:first-child {
        margin-bottom: 2rem;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}