@use '././base/variables' as v;

/*minicart*/
.minicart {
    background-color: v.$white;
    z-index: 20;
    position: absolute;
    top: 120%;
    right: 1.5rem;
    padding: 3rem 3rem;
    display: none;
    border-radius: 0.6rem;
    i {
        font-size: 4rem;
    }

    h4 {
        font-size: 2rem;
        margin: 2.5rem 0 0;
        font-weight: 400;
    }
}

.active.minicart {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.minicart__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
    figure {
        width: 50px;
    }

    .minicart__item__meta{
        width: 200px;
        padding: 0 7px;
        
        h3 {
            font-size: 1.8rem;
            font-weight: 400;
            margin: 0 0 5px;
            color: v.$green;
        }
        h4 {
            font-size: 1.3rem;
            font-weight: 400;
            margin: 0 0 5px;
        }
        h5 {
            font-size: 1.3rem;
            font-weight: 400;
            margin: 0;
            .minicart__item__qty{
                font-size: 1.2rem;
            }
            .minicart__item__price {
                font-size: 1.5rem;
                display: inline-block;
                margin-left: 10px;
                font-weight: 700;
                color: v.$orange;
            }
        }
    }

    

    .minicart__item__remove {
        width: 30px;
        padding: 0;
        background: transparent;
        margin: 0;
        border: none;
        color: v.$red;
        i {
            font-size: 3rem;
        }
    }
}

.clear-minicart {
    button {
        text-transform: uppercase;
        color: v.$white;
        width: 100%;
        border-radius: .5rem;
        background-color: v.$red;
        padding: 1rem .5rem;
        font-size: 1.4rem;
    }
}

.go-cart {
    margin-top: 2rem;
    margin-bottom: 1rem;
    button {
        text-transform: uppercase;
        background-color: #f7f7f7;
        color: v.$black;
        width: 100%;
        border-radius: .5rem;
        padding: 1rem .5rem;
        font-size: 1.4rem;
        border:1px solid v.$border;
        &:hover {
            background-color: #efefef;
        }
    }
}


.cartEmpty {
    width: 100%;
    padding: 0 1.5rem;
    margin-top: 3rem;
    flex-direction: column;
    text-align: center;

    i {
        font-size: 10rem;
        color: v.$gray;
    }

    h2 {
        font-size: 2.6rem;
        font-weight: 400;
    }

    a {
        padding: 2rem 3.5rem;
        background-color: v.$orange;
        color: v.$white;
        border-radius: .5rem;
        text-transform: uppercase;
        margin-top: 2rem;
        display: inline-block;
        font-size: 1.5rem;
    }
}