
/*minicart*/
.minicart {
  background-color: #fff;
  z-index: 20;
  position: absolute;
  top: 100%;
  right: 1.5rem;
  padding: 2rem 2rem;
  display: none;
}
.minicart i {
  font-size: 4rem;
}
.minicart h4 {
  font-size: 2rem;
  margin: 2.5rem 0 0;
  font-weight: 400;
}

.active.minicart {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Home */
.main__wdgt__title {
  padding: 0 1.5rem;
}
.main__wdgt__title h3 {
  font-size: 3rem;
  font-weight: 400;
}

.main__wdgt__list {
  display: flex;
  flex-wrap: wrap;
}

.main__wdgt__card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
@media screen and (min-width: 650px) {
  .main__wdgt__card {
    width: 50%;
  }
}
@media screen and (min-width: 991px) {
  .main__wdgt__card {
    width: 33.33333%;
  }
}
.main__wdgt__card figure {
  width: 150px;
  background-color: #fff;
  font-size: 0;
}
.main__wdgt__card figure img {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}
.main__wdgt__card .wdgt__card__item {
  width: calc(100% - 150px);
  padding-left: 2rem;
}
.main__wdgt__card .wdgt__card__item h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #064532;
  margin: 0 0 1rem;
}
.main__wdgt__card .wdgt__card__item h3 {
  font-weight: 700;
  font-size: 1.3rem;
  color: #767a79;
  margin: 0 0 1rem;
}
.main__wdgt__card .wdgt__card__item h3 span {
  font-weight: 400;
  font-size: 1.3rem;
}
.main__wdgt__card .wdgt__card__item h4 {
  font-size: 2.2rem;
  color: #f1592b;
  margin: 0;
  margin: 0 0 1rem;
}

.wdgt__card__buy {
  display: flex;
}
.wdgt__card__buy input {
  width: 50px;
  font-size: 1.5rem;
  text-align: center;
  border: none;
}
.wdgt__card__buy input:focus-visible {
  outline: none;
}
.wdgt__card__buy .wdgt__card__quantity {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.wdgt__card__buy .wdgt__card__quantity i {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 1.4rem;
  background-color: #064532;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
.wdgt__card__buy .wdgt__card__quantity i:last-child {
  border-bottom: none;
}
.wdgt__card__buy button {
  width: calc(100% - 75px);
  background-color: transparent;
  border: 0.2rem solid #064532;
  color: #064532;
  padding: 0rem 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.wdgt__card__buy button:hover {
  color: #fff;
  background-color: #064532;
}
.wdgt__card__buy button i {
  font-size: 20px;
}

.wdgt__card__buy button.active {
    background-color: #5eba7d;
    color: #fff;
    border: 1px solid #064532;
    pointer-events: none;
}



