@media screen and (max-width: 980px) {
   

    /* Nav */

    #navToggle {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001;
    }

    #navToggle .toggle {
        text-decoration: none;
        width: 70px;
        height: 50px;
        opacity: 0.35;
    }

    #navToggle .toggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }

    #navToggle .toggle:before {
        display: inline-block;
        text-decoration: none;
        position: absolute;
        left: 6px;
        top: 6px;
        background: rgba(0, 0, 0, 0.5);
        width: 58px;
        height: 38px;
        border-radius: 6px;
        content: '\f0c9';
        color: #fff;
        text-align: center;
        line-height: 38px;
        font-size: 20px;
    }

    #navToggle .toggle:active {
        opacity: 0.75;
    }

    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background: #fff;
        box-shadow: inset -3px 0px 0px 0px #dfdfdf;
        padding: 0 23px 0 20px;
    }

    #navPanel .link {
        display: block;
        text-decoration: none;
        height: 54px;
        line-height: 54px;
        border-top: solid 1px #e8e8e8;
        color: #696969;
    }

    #navPanel .link:first-child {
        border-top: 0;
    }

    #navPanel .indent-1 {
        display: inline-block;
        width: 1em;
    }

    #navPanel .indent-2 {
        display: inline-block;
        width: 2em;
    }

    #navPanel .indent-3 {
        display: inline-block;
        width: 3em;
    }

    #navPanel .indent-4 {
        display: inline-block;
        width: 4em;
    }

    #navPanel .indent-5 {
        display: inline-block;
        width: 5em;
    }

    #navPanel .depth-0 {
        color: #444;
        font-weight: 800;
    }

    body.navPanel-visible #page-wrapper {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #navToggle {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px);
    }

    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

}
.opener {
    position: relative;
}
.opener:hover ul {
    display: block!important;
}
.dropotron {
    user-select: none; position: absolute; z-index: 1000; left: 0px; top: 55px; opacity: 1; 
}

#nav ul li .dropotron li {
    white-space: nowrap;
    width: 100%;
    line-height: 3em;
}